* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* Remove o scroll lateral teimoso */
}

:root {
  /*Cores*/

  --bg-color: #070d1a;
  --cards: #0f172a;
  --txt_principal: #e2e8f0;
  --txt_secondario: #4a6080;
  --bordas: #1e2d40;
  --entradas: #00FFB2;
  --saidas: #FF6B35;
  --acao: #00FFB2;
}

body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--txt_principal);
  margin: 0;
  padding: 24px;
}

button,
input,
select,
textarea {
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--bordas);
  border-radius: 10px;
}

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0B0B15;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

body {
  background-color: #0B0B15;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 2. Trava de Segurança: SÓ funciona quando o login (auth-overlay) existe */
body:has(.auth-overlay) {
  overflow: hidden !important;
  height: 100vh !important;
}

#aba-transacoes {
  display: none;
  width: 100%;
  height: auto !important;
  min-height: auto !important;
  margin-top: 0;
}

body.logged-in .tab-section.active {
  display: block !important;
  height: auto !important;
}

#auth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0B0B15;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

main,
header,
.tab-section {
  display: none;
}

.logged-in main,
.logged-in header {
  display: block;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--txt_principal);
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}