:root {
  --bg-color: #050810;
  --card-bg: #0f172a;
  --border-color: #1e2d40;
  --txt-principal: #ffffff;
  --txt-secundario: #94a3b8;
  --receita: #00FFB2;
  --despesa: #FF6B35;
  --caixinha: #00d2ff;
  --bordas: #1e2d40;
}

#app {
  display: none;
  padding-top: 70px;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-principal);
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: padding 0.3s ease;
}



#tab-transacoes, 
#tab-transacoes .transacoes-container {
    border: none;
    box-shadow: none;
}


h1,
h2,
h3 {
  color: #fff;
  letter-spacing: -0.5px;
}

input,
select,
textarea,
button {
  font-size: 16px;
}

.tx-meta,
.current-date {
  color: var(--txt-secundario);
  font-size: 13px;
}

/* --- EFEITOS NEON DOS BOTÕES DE TOPO --- */
.action-card {
  background: #0f172a;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.btn-income {
  border-bottom: 3px solid var(--receita);
  box-shadow: 0 4px 15px rgba(0, 255, 178, 0.1);
}

.btn-expense {
  border-bottom: 3px solid var(--despesa);
  box-shadow: 0 4px 15px rgba(255, 107, 53, 0.1);
}

.btn-caixinha {
  border-bottom: 3px solid var(--caixinha);
  box-shadow: 0 4px 15px rgba(0, 210, 255, 0.1);
}

